<nav class="navbar navbar-expand navbar-light bg-gray topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  iGAP Technologies Private Limited
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
      <div class="topbar-divider d-none d-sm-block"></div>
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
          <span class="nav-link dropdown-toggle" href="#" style="color:black;" (click)="logout()" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
          </span>
      </li>
  </ul>
</nav>
