<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-globe"></i>
      </div>
      <div class="sidebar-brand-text mx-3">iGap E-Doc <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" routerlinkActive="active" routerLink="/admin/dashboard" style="cursor: pointer;" >
          <i class="fas fa-fw fa-home"></i>
          <span>Dashboard</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" routerlinkActive="active" routerLink="/admin/documents" style="cursor: pointer;">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>Documents</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" routerlinkActive="active" routerLink="/admin/words" style="cursor: pointer;">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Words</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" routerlinkActive="active" routerLink="/admin/employees" style="cursor: pointer;">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Employees</span></a>
  </li>
  <li class="nav-item active" style="cursor: pointer;">
      <span class="nav-link" (click)="clicked()">
          <i class="fas fa-fw fa-arrow-left"></i>
          <span >LogOut</span></span>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">



